// .splide__arrow {
//     background-color: #b78abe7b;
//     transition: all 0.5s;

//     & svg {
//         fill: #cd87ec;
//     }
// }

.splide__pagination__page {
    background-color: #b78abea6;
    transition: all 0.2s;

    &.is-active {
        background-color: #cd87ec;
    }
}

#nextui-tooltip .nextui-c-cFCyVg-bHcqlI-color-secondary {
    --nextui--tooltipColor: #5c2573b6;
    background: #5c2573b6;
}